.about-us {
  background-color: #191919;
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: left;
}
  
.info {

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    height: 56px;
  }

  &__heading {
    font-family: "Raleway-Regular";
    font-size: 2rem;
    color: #ffffff;
    margin: 0;
  }

  &__text {
    font-family: "Montserrat-Light";
    font-size: 1rem;
    color: #555555;
    line-height: 25px;
    margin-bottom: 30px;
  }

  &__link {
    font-family: "Montserrat-Regular";
    font-size: 1rem;
    color: #d1d1d1;
    display: flex;
    align-items: center;

    &::after {
      margin-left: 8px;
      content: "";
      border: 5px solid transparent; 
      border-left-color: #d1d1d1;
      display: block;
    }
  }
}

.recent-posts {
  &__heading {
    font-family: "Raleway-Bold";
    font-size: 1.7rem;
    color: #ffffff;
    margin: 11px 0;
    margin-top: 25px;
  }

  &__text {
    font-family: "Montserrat-Light";
    font-size: 1rem;
    color: #555555;
    line-height: 23px;
    padding: 10px 0;


    &:hover {
      color: #c7b299;
    }

    &:hover:first-child {
      color: #ffffff !important;
    }
  }

  &__date-post {
    font-family: "Montserrat-Light";
    font-size: 0.9rem;
    color: #313131;
  }

}

.our-twitter {
  &__heading {
    font-family: "Raleway-Bold";
    font-size: 1.7rem;
    color: #ffffff;
    margin: 11px 0;
    margin-top: 25px;
  }

  &__text {
    font-family: "Montserrat-Light";
    font-size: 1rem;
    color: #555555;
    line-height: 23px;
    padding: 10px 0;
  }

  &__teg {
    color: #00bff3;
  }

  &__link {
    color: #959595;
  }

  &__date-post {
    font-family: "Montserrat-Light";
    font-size: 0.9rem;
    color: #313131;
  }
}

.widget {
  &__heading {
    font-family: "Raleway-Bold";
    font-size: 1.7rem;
    color: #ffffff;
    margin: 11px 0;
    margin-top: 25px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__img {
    margin-bottom: 15px;
    width: 47%;
    height: 98px;

    @media (max-width: 991px) {
      height: 68px;
    }

    @media (max-width: 767px) {
      height: 89px;
    }
  }
}