.copyright {
  background-color: #111111;
  font-family: "Montserrat-Light";
  font-size: 1rem;
  color: #555555;
  padding-top: 45px;
  padding-bottom: 53px;
  display: flex;
  align-items: center;

  &__text {
    margin-bottom: 0;
  }

  &__symbol {
    padding-right: 13px;
    border-right: 1px solid #252525;
  }
  &__logo {
    color: #959595;
  }

}

.privacy-policy {
  padding-right: 13px;
  padding-left: 13px;
  border-right: 1px solid #252525;
  display: flex;
  align-items: center;

  &__link {
    color: #555555;

    &:hover {
      color: #c7b299;
    }
  }
}

.faq {
  padding-right: 13px;
  padding-left: 13px;
  border-right: 1px solid #252525;
  display: flex;
  align-items: center;
  
  &__link {
    color: #555555;
    
    &:hover {
      color: #c7b299;
    }
}
}

.support {
  padding-left: 13px;
  display: flex;
  align-items: center;

  &__link {
    color: #555555;

    &:hover {
      color: #c7b299;
    }
  }
}

.designed-by {
  padding-right: 13px;
  border-right: 1px solid #252525;
  display: flex;
  align-items: center;

  &__text {
    margin-bottom: 0;
  }

  &__name {
    color: #959595;
  }
}

.designed-for-whom {
  padding-left: 13px;
  display: flex;
  align-items: center;

  &__text {
    margin-bottom: 0;
  }
  
  &__name {
    color: #959595;
  }
}