.counters {
  background: linear-gradient(to right, #211b19, #4e3427);
  padding-top: 70px;
  padding-bottom: 60px;
}

.counter {
  @media (max-width: 575px) {
    margin-bottom: 18px;
  }

  &__heading {
    font-family: "Montserrat-ExtraLight";
    font-size: 3.4rem;
    color: #ffffff;
    margin-top: 30px;
  }

  &__text {
    font-family: "Montserrat-Light";
    font-size: 1rem;
    color: #c7b299;
    height: 3rem;
  }

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 15px;
  }
}