  .exempl-of-work {
    padding-top: 83px;
    background-color: #fbfaf8
  }
  .exempl-of-work h1 {
    font-family: "Raleway-SemiBold";
    font-size: 2.2rem;
  }
  .exempl-of-work p {
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 30px; 
  }
  .exemple-page {
    position: relative;
    height: 400px;

    @media (max-width: 991px) {
      height: 310px;
    }

    @media (max-width: 767px) {
      height: 250px;
    }

    @media (max-width: 575px) {
      position: inherit;
      height: auto;
    }

    &__img {
      position: absolute;

      @media (max-width: 575px) {
        position: inherit;
        height: auto;
        width: 100%;
      }

      &_left {
        left: 0;
        bottom: 0;
        height: 87%;
      }
  
      &_right {
        right: 0;
        bottom: 0;
        height: 87%;
      }
  
      &_center {
        z-index: 20;
        bottom: 0; 
        height: 100%;
        left: 17%;
      }
      
    }
  }