header {
    position: fixed;
    z-index: 999;
    width: 100%;

  .navbar {
    background-color: rgba($color: #000000, $alpha: 0.6);
  }

  .navbar-brand {
    color: #ffffff;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon{
    background-image: url("../../src/img/menu.svg")
  }

  .navbar-brand {
    font-family: "Raleway-Regular";
    font-size: 2.4rem;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .nav-link {
    font-family: "Montserrat-Light";
    font-size: 1rem;
    color: #ffffff;

    &:hover {
      color: #c7b299;
    }
  }

  .navbar-toggler[aria-expanded="true"] ~ .nav-search,  {
      margin: auto;
  }
  
}
  
  