.latest-projects {
    padding-top: 82px;
    padding-bottom: 80px;

    &__heading {
      font-family: "Raleway-SemiBold";
      font-size: 2.1rem;
    }

    &__text {
      font-family: "Montserrat-Light";
      font-size: 1.2rem;
    }

    &__link {
      font-family: "Raleway-ExtraBold";
      font-size: 14px;
      text-align: center;
      color: #fff;
      background-color: #998675;
      display: block;
      padding-top: 12px;
      border-radius: 4px;
      width: 170px;
      height: 47px;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
    }

    .filtr {
      display: flex;
      justify-content: center;

      &__button {
        font-family: "Montserrat-Light";
        font-size: 1.1rem;
        color: #8c8c8c;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        background-color: #ffffff;
        margin: 5px;
        padding: 10px 20px;
        min-width: 70px;

        &:focus {
          color: #ffffff;
          background-color: #998675;
          border-color: #998675;
        }
      }
    }
  }

   
.card {
  padding: 15px;
  border: none;
  border-radius: none;

  .card-img-top {
    height: 240px;
    width: auto;
    border-radius: none;
    overflow: hidden;
    position: relative;

    .card-general-img {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 50;
    }

    .more-info-card {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow:0 0 0 128px rgba(0, 0, 0, 0.65) inset;

      & * {
        padding: 10px;
      }
    }
  }

  .card-body {
    background-color: #fbfaf8;
    text-align: left;

    .card-title {
      font-family: "Raleway-Medium";
      font-size: 1.5rem;
      color: #c7b299;
    }

    .card-text {
      font-family: "Montserrat-Light";
      font-size: 1rem;
      color: #d1d1d1;
    }

    &::before {
      content: "";
      position: relative;
      border: 27px solid transparent;
      border-bottom: 21px solid #fbfaf8;
      bottom: 44px;
      z-index: 500;

      @media (max-width: 767px) {
        bottom: 37px;
    }
    }
  }

  &:hover {

    & .more-info-card {
      z-index: 60;
    }
   
    & .card-body{
      background-color: #362f2d;
  
      &::before {
        border-bottom-color: #362f2d;
      }
    }
  }
}
 
 