.main-slider {
    height: 100vh;
  
  .carousel-img {
    height: 100vh;
    width: 100%;
  }
  .carousel-indicators{
    & li {
      width: 15px;
      height: 15px;
      border: 2px solid transparent;
      border-radius: 50%;
      background-color: rgba(144,144,144,.6);
    }

    & .active {
      border: 2px solid #d3c1ad;
      background-color: transparent;
    }
  } 

  .carousel-caption {
    bottom: 25%;
    color: #fff;

    &__pre-header {
      font-family: "Raleway-Medium";
      font-size: 2.5rem;
    }

    &__header {
      font-family: "Raleway-ExtraBold";
      font-size: 3.7rem;
    }

    &__text {
      margin: 10px auto 35px auto;
      font-family: "Montserrat-Light";
      font-size: 1.2rem;

      @media (max-width: 575px) {
        font-size: 1.4rem;
      }
    }

    &__link {
      margin: 0 auto;
      font-family: "Raleway-ExtraBold";
      font-size: 14px;
      text-align: center;
      color: #fff;
      background-color: #998675;
      display: block;
      padding-top: 12px;
      border-radius: 4px;
      width: 170px;
      height: 47px;
    }
  }
}