.partners {
  height: 490px;
  background-image: url("../../src/img/partners.jpg");
  box-shadow:0 0 0 500px rgba(0, 0, 0, 0.40) inset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  @media (max-width: 767px) {
    height: 390px;
  }

  @media (max-width: 550px) {
    height: 340px;
  }

  @media (max-width: 430px) {
    height: 270px;
  }


  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 767px) {
      padding-bottom: 18px;
    }

    img {
      width: 100%;

      @media (max-width: 767px) {
        width: 80%;
      }
    }
  }
}
