.product-for-mobile {
  padding-top: 79px;
  background-color: #fbfaf8;
  text-align: left;

  &__img {
    width: 100%;
    height: auto;
  }

  &__heading {
    font-family: "Raleway-SemiBold";
    font-size: 2.1rem;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-top: 18px;
      text-align: center;
    }
  }

  &__text {
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
    line-height: 30px;

    @media (max-width: 991px) {
      line-height: 19px;
    }

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 79px;
  }


  .features {
    margin-top: 40px;
    margin-left: 60px;

    .row {
      display: flex;
      flex-wrap: nowrap;
    }

    #Capa_1{
      position: relative;
      right: 22px;
      width: 23px;
      height: 23px;
      flex-basis: 23px;
    }

    &__text {
      font-family: "Montserrat-Light";
      font-size: 1.2rem;
      margin-bottom: 10px;
      flex-shrink: 100;
    }

    & * {
      &::before {
        content: "";
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: #c7b299;
      }
    }
  }

}

