.rating-template {
    background: linear-gradient(to right, #211b19, #4e3427);
    padding: 49px 0;
    text-align: left;

    @media (max-width: 767px) {
      text-align: center;
    }

    &__heading {
      font-family: "Raleway-Regular";
      font-size: 2rem;
      color: #fff;

      & span {
        color: #c7b299;
      }
    }

    &__text {
      font-family: "Montserrat-Light";
      font-size: 1.3rem;
      color: #5b524f;
    }

    &__link {
      font-family: "Raleway-ExtraBold";
      font-size: 14px;
      text-align: center;
      color: #fff;
      background-color: #998675;
      display: block;
      padding-top: 12px;
      border-radius: 4px;
      width: 170px;
      height: 47px;

      @media (max-width: 767px) {
        margin: 0 auto;
      }
    }
}