.recent-post {
    padding-top: 80px;
    padding-bottom: 80px;

    &__heading {
        font-family: "Raleway-SemiBold";
        font-size: 2.1rem;
        color: #555555;
    }

    &__text {
        font-family: "Montserrat-Light";
        font-size: 1.1rem;
        color: #8c8c8c;
    }
}

.post {
    @media (max-width: 767px) {
        margin-top: 18px;
    }


    &__img {
        background-size: 100% 100%;
        height: 220px;

        @media (max-width: 991px) {
            height: 150px;
        }

        @media (max-width: 575px) {
            height: 40vw;
        }

        &_first {
            background-image: url("../../src/img/post1.jpg");
        }

        &_second {
            background-image: url("../../src/img/post2.jpg");
        }

        &_third {
            background-image: url("../../src/img/post3.jpg");
        }        
    }

    .date {
        border-radius: 5px;
        color: #ffffff;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        overflow: hidden;
        position: absolute;

        &__day {
            background-color: #363636;
            font-family: "Roboto-Regular";
            font-size: 22px;
            width: 100%;
            height: 35px;
        }

        &__manth {
            background-color: #252525;
            font-family: "Montserrat-Light";
            padding-top: 3px;
            font-size: 12px;
            height: 25px;
            width: 100%;
        }
    }

    &__body {
        border: 1px solid #f8f8f8 ;
        border-top: none;
        text-align: left;
        padding: 30px;
    }

    &__heading {
        color: #656565;
        font-family: "Raleway-Medium";
        font-size: 1.5rem;
    }

    &__text {
        color: #8c8c8c;
        font-family: "Montserrat-Light";
        font-size: 1rem;
    }

    &__link {
        color: #c7b299;
        font-family: "Montserrat-Light";
        font-size: 1rem;
        display: flex;
        align-items: center;
    
        &::after {
          margin-left: 8px;
          content: "";
          border: 7px solid transparent; 
          border-left-color: #d1d1d1;
          display: block;
        }
    }

    &:hover &__img {
        box-shadow:0 0 0 128px rgba(0, 0, 0, 0.65) inset;
    }

    &:hover .date {
        &__day {
            background-color: #c7b299;
        }

        &__manth {
            background-color: #a48d72;
        }
    }

    &:hover &__body {
        background-color: #362f2d;
        border-color: #362f2d;
    }

    &:hover &__text {
        color: #ffffff; 
    }

    &:hover &__heading, &__link {
        color: #c7b299;
    }
}

.navigation-post {
    margin-top: 40px;

    &__button {
        margin-left: 4px;
        margin-right: 4px;
        fill: #d4d4d4;
        stroke: #d4d4d4;

        &:hover {
            fill: #c7b299;
            stroke: #c7b299;
        }

        #Capa_1 {
            width: 22px;
            height: 22px;
        }
    }
}