.services {
    padding: 80px 0;
  }
.service {

  &__img {
    margin: 0 auto;
    width: 52px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  &__heading {
    font-family: "Raleway-SemiBold";
    font-size: 1.6rem;

    // @media (max-width: 1199px) {
    //   font-size: 1.2rem;
    // }
  }

  &__text {
    font-family: "Montserrat-Light";
    font-size: 1.1rem;

    @media (max-width: 575px) {
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__text::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    margin-top: 33px;
  }

  &:hover &__heading {
    color: #c7b299;
  }

  &:hover &__text::after {
    background-color: #c7b299;
  }

  @media (max-width: 991px) {
    margin-bottom: 40px;
  }
}