.video-presentation {
    height: 705px;
    background-image: url("../../src/img/video presentation.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    box-shadow:0 0 0 500px rgba(0, 0, 0, 0.60) inset;
    color: #ffffff;

    @media (max-width: 991px) {
      height: 550px;
    }

    @media (max-width: 767px) {
      height: 400px;
    }

    @media (max-width: 575px) {
      height: 270px;
    }

    &__play-icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: rgba(94, 97, 102, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__heading {
      font-family: "Raleway-Medium";
      font-size: 2.1rem; 
      margin-top: 40px;
      margin-bottom: 20px;

      @media (max-width: 575px) {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    &__text {
      font-family: "Montserrat-Light";
      font-size: 1.2rem;
    }

    &__time-video {
      font-family: "Montserrat-Regular";
      font-size: 1rem;
      color: #c7b299;
    }
  }
  