@import "src/blocks/menu";
@import "src/blocks/counters";
@import "src/blocks/exempl-of-work";
@import "src/blocks/exempl-of-work.scss";
@import "src/blocks/header.scss";
@import "src/blocks/latest-projects.scss";
@import "src/blocks/main-slider.scss";
@import "src/blocks/partners.scss";
@import "src/blocks/product-for-mobile.scss";
@import "src/blocks/rating-template.scss";
@import "src/blocks/recent-post.scss";
@import "src/blocks/services.scss";
@import "src/blocks/video-presentation.scss";
@import "src/blocks/footer/about-us.scss";
@import "src/blocks/footer/copyright.scss";

@font-face {
    font-family: "Raleway-Regular";
    src: url("../../src/fonts/Raleway/Raleway-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../../src/fonts/Montserrat/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Raleway-Medium";
    src: url("../../src/fonts/Raleway/Raleway-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("../../src/fonts/Raleway/Raleway-ExtraBold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("../../src/fonts/Raleway/Raleway-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../../src/fonts/Raleway/Raleway-SemiBold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../src/fonts/Montserrat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("../../src/fonts/Montserrat/Montserrat-ExtraLight.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../../src/fonts/Roboto/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

html {
    font-size: 13px; 

    @media (max-width: 991px) {
        font-size: 10px;
    }

    @media (max-width: 767px) {
        font-size: 9px;
    }

    // @media (max-width: 575px) {
    //     font-size: 8px;
    // }
}
body {
    text-align: center;
    padding: 0;
    margin: 0;
}